<div class="">
    <label for="name">Contact Name</label>
    <input type="text" id="contactName" class="" [(ngModel)]="contact.name">
</div>
<div class="">
    <label for="phoneNumber">Phone Number</label>
    <input type="text" id="phoneNumber" class="" [(ngModel)]="contact.phoneNumber">
</div>
<div class="">
    <label for="address">Address</label>
    <input type="text" id="address" class="" [(ngModel)]="contact.address">
</div>
<div class="">
    <label for="email">Email</label>
    <input type="text" id="email" class="" [(ngModel)]="contact.email">
</div>