<div class="container">
    <form (ngSubmit)="onEditContact()">
        <div class="form-control">
            <label for="name">Contact Name</label>
            <input type="text" name="name" class="form-input" [(ngModel)]="name">
        </div>
        <div class="form-control">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" name="phoneNumber" class="form-input" [(ngModel)]="phoneNumber">
        </div>
        <div class="form-control">
            <label for="address">Address</label>
            <input type="text" name="address" class="form-input" [(ngModel)]="address">
        </div>
        <div class="form-control">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-input" [(ngModel)]="email">
        </div>
        <div class="form-control">
            <input type="submit" class="btn edit-btn" value="Submit Changes">
        </div>
    </form>
</div>