<br>
<hr>
<br>
<div class="container">
    <h3>Create New Contact</h3>
    <br>
    <form>
        <input type="text" id="name" name="firstname" placeholder="Your Name...">

        <input type="text" id="phoneNum" name="phoneNum" placeholder="Phone Number: 111-111-1111">

        <input type="text" id="address" name="address" placeholder="Address...">

        <input type="text" id="email" name="email" placeholder="Email...">

        <input type="submit" class="btn" value="Submit">
    </form>
</div>