<div class="container">
    <h3>Create New Contact</h3>
    <br>
    <form (ngSubmit)="onSubmit()">
        <input type="text" name="name" 
            [(ngModel)]="name"
            placeholder="Your Name...">

        <input type="text" name="phoneNumber" 
            [(ngModel)]="phoneNumber"
            placeholder="Phone Number: 111-111-1111">

        <input type="text" name="address" 
            [(ngModel)]="address"
            placeholder="Address...">

        <input type="text" name="email" 
            [(ngModel)]="email"
            placeholder="Email...">

        <input type="submit" class="btn" value="Submit">
    </form>
</div>